:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.snake-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  width: 700px;
  height: 700px;

  .cell {
    background-color: #A6D13B;

    &.even {
      background-color: #ACD644;
    }
    
    &[data-snake="body"] {
      background-color: darkgray;
    }

    &[data-snake="head"] {
      background-color: gray;
    }

    &[data-food="true"] {
      background-color: red;
    }
  }
}

