:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.snake-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  width: 700px;
  height: 700px;

  .cell {
    background-color: #A6D13B;

    &.even {
      background-color: #ACD644;
    }
    
    &[data-snake="body"] {
      background-size: contain;

      &[data-direction="up"], &[data-direction="down"] {
        background-image: url('assets/body_vertical.png');
      }

      &[data-direction="left"], &[data-direction="right"] {
        background-image: url('assets/body_horizontal.png');
      }

      &[data-from-direction="up"][data-to-direction="left"],
      &[data-from-direction="left"][data-to-direction="up"] {
        background-image: url('assets/body_topleft.png');
      }

      &[data-from-direction="up"][data-to-direction="right"],
      &[data-from-direction="right"][data-to-direction="up"] {
        background-image: url('assets/body_topright.png');
      }

      &[data-from-direction="down"][data-to-direction="left"],
      &[data-from-direction="left"][data-to-direction="down"]{
        background-image: url('assets/body_bottomleft.png');
      }

      &[data-from-direction="down"][data-to-direction="right"],
      &[data-from-direction="right"][data-to-direction="down"]{
        background-image: url('assets/body_bottomright.png');
      }
    }

    &[data-snake="head"] {
      background-size: contain;

      &[data-direction="up"] {
        background-image: url('assets/head_up.png');
      }

      &[data-direction="down"] {
        background-image: url('assets/head_down.png');
      }

      &[data-direction="left"] {
        background-image: url('assets/head_left.png');
      }

      &[data-direction="right"] {
        background-image: url('assets/head_right.png');
      }
    }

    &[data-snake="tail"] {
      background-size: contain;

      &[data-direction="up"] {
        background-image: url('assets/tail_down.png');
      }

      &[data-direction="down"] {
        background-image: url('assets/tail_up.png');
      }

      &[data-direction="left"] {
        background-image: url('assets/tail_right.png');
      }

      &[data-direction="right"] {
        background-image: url('assets/tail_left.png');
      }
    }

    &[data-food="true"] {
      background-image: url('assets/apple.svg');
      background-size: contain;
    }
  }
}

